{% extends '../template/template.twig' %}
{% block content %}

<form action="/todos/delete?_method=DELETE" method="POST">
    <fieldset disabled >
        <div class="form-group">
            <input name="message" type="text" class="form-control" value="{{todo.message}}">
        </div>
        <div class="form-group">
        <select name="completion" class="form-control" id="exampleFormControlSelect1" placeholder="Select">
            <option>{{todo.completion}}</option>
        </select>
        </div>
    </fieldset>
    <input name="todoId" type="hidden" value="{{todo.id}}">
    <button type="submit" class="btn btn-primary">Delete !</button>
</form>
{% endblock %}