{% extends '../template/template.twig' %}
{% block content %}

<form action={{ "/todos/" ~ todo.id }} method="PUT">
    <div class="form-group">
        <input name="message" type="text" class="form-control" value="{{todo.message}}">
    </div>
    <div class="form-group">
    <select class="form-control" id="exampleFormControlSelect1" placeholder="Select">
    {% for item in completions %}
        <option>{{item}}</option>
    {% endfor %}
    </select>
    </div>  
    <button type="submit" class="btn btn-primary">Update !</button>
</form>
{% endblock %}